<div class="container" style="border: solid 1px;">
    <div class="mb-3 row">
        <label for="inputPassword" class="col-sm- col-form-label">masa</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" id="masa">
        </div>
    </div>
    <button class="btn btn-primary mb-2" id="calcular" type="submit">Calcular</button>

    <div class="row">
        <div class="md-2">
            <div  id="tierra"></div>
        </div>
        <div class="md-2"><div  id="marte" ></div></div>
        <div class="md-2"><div  id="luna"></div></div>
    </div>
</div>

<script src="./assets/js/script.js"></script>